
.home{
  background-size: 100%;
  /*background-color:red;*/
  background-image: url(/images/home_background1.jpg);
}
.home_menu{
  width:600px;
  position: absolute;
  left:50%;
  top:30%;
  margin-left: -300px;
  background-color: rgba(255, 0, 0, 0);
}
